---
storage:
  radarr:
    appdata: 2Gi
    appdata_3d: 256Mi
  sonarr:
    appdata: 1Gi
  prowlarr:
    appdata: 256Mi
# lidarr:
#   appdata: 256Mi
  overseerr:
    appdata: 128Mi
  bazarr:
    appdata: 128Mi
  tdarr:
    config: 128Mi
    logs: 128Mi
    server: 2Gi
  kometa:
    appdata: 1Gi
  notifiarr:
    appdata: 16Mi

flaresolverr:
  image: ghcr.io/flaresolverr/flaresolverr:v3.3.21
  port: 8191
  resources:
    requests:
      cpu: 512m
      memory: 1Gi

overseerr:
  image: ghcr.io/linuxserver/overseerr:1.33.2
  port: 5055
  resources:
    requests:
      cpu: 10m
      memory: 50Mi

prowlarr:
  image: ghcr.io/linuxserver/prowlarr:1.29.2
  port: 9696
  resources:
    requests:
      cpu: 10m
      memory: 128Mi

radarr:
  image: ghcr.io/linuxserver/radarr:5.17.2
  port: 7878
  resources:
    requests:
      cpu: 100m
      memory: 256Mi

sonarr:
  image: ghcr.io/linuxserver/sonarr:4.0.12
  port: 8989
  resources:
    requests:
      cpu: 100m
      memory: 256Mi

bazarr:
  image: ghcr.io/linuxserver/bazarr:1.5.1
  port: 6767
  resources:
    requests:
      cpu: 10m
      memory: 256Mi

lidarr:
  image: ghcr.io/linuxserver/lidarr:2.8.2
  port: 8686
  resources:
    requests:
      cpu: 10m
      memory: 256Mi

tdarr:
  image: ghcr.io/haveagitgat/tdarr:2.28.01
  port: 8265
  resources:
    requests:
      cpu: 10m
      memory: 1Gi
    limits:
      cpu: 1
      memory: 3Gi
      nvidia.com/gpu: 1
  nodeSelector:
    nvidia.com/gpu.present: "true"
    kubernetes.io/hostname: "discovery"

kometa:
  image: ghcr.io/linuxserver/kometa:2.1.0

excludarr:
  image: excludarr/excludarr:v1.1.3
  resources:
    requests:
      cpu: 100m
      memory: 256Mi

notifiarr:
  image: ghcr.io/notifiarr/notifiarr:v0.8.3
  port: 5454
  resources:
    requests:
      cpu: 10m
      memory: 128Mi
