---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sonarr-appdata-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: {{ .Values.storage.sonarr.appdata }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radarr-appdata-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: {{ .Values.storage.radarr.appdata }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prowlarr-appdata-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: {{ .Values.storage.prowlarr.appdata }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: overseerr-appdata-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: {{ .Values.storage.overseerr.appdata }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bazarr-appdata-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: {{ .Values.storage.bazarr.appdata }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tdarr-config-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: {{ .Values.storage.tdarr.config }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tdarr-logs-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: {{ .Values.storage.tdarr.logs }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tdarr-server-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: {{ .Values.storage.tdarr.server }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kometa-appdata-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: {{ .Values.storage.kometa.appdata }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: notifiarr-appdata-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: {{ .Values.storage.notifiarr.appdata }}