---
storage:
  uptimekuma:
    appdata: 1Gi

uptimekuma:
  image: louislam/uptime-kuma:1.23.16-debian
  port: 3001
  resources:
    requests:
      cpu: 10m
      memory: 256Mi
  nodeSelector:
    kubernetes.io/hostname: "nebula"
