---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: immich
  namespace: {{ $.Release.Namespace }}
spec:
  ingressClassName: external-nginx
  tls:
    - hosts:
        - "immich.hyde.services"
      secretName: wildcard.hyde.services
  rules:
    - host: immich.hyde.services
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: immich-svc
                port:
                  number: 8080
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: tautulli
  namespace: {{ $.Release.Namespace }}
spec:
  ingressClassName: external-nginx
  tls:
    - hosts:
        - "tautulli.hyde.services"
      secretName: wildcard.hyde.services
  rules:
    - host: tautulli.hyde.services
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: tautulli
                port:
                  number: 8181
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: wizarr
  namespace: {{ $.Release.Namespace }}
spec:
  ingressClassName: external-nginx
  tls:
    - hosts:
        - "wizarr.hyde.services"
      secretName: wildcard.hyde.services
  rules:
    - host: wizarr.hyde.services
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: wizarr
                port:
                  number: 5690