---
storage:
  qbittorrent:
    appdata: 256Mi
  sabnzbd:
    appdata: 128Mi

qbittorrent:
  image: ghcr.io/binhex/arch-qbittorrentvpn:5.0.3-1-01
  port: 8080
  nodeSelector:
    kubernetes.io/hostname: "discovery"
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: 8
      memory: 2Gi

sabnzbd:
  image: ghcr.io/linuxserver/sabnzbd:4.4.0
  port: 8080
  nodeSelector:
    kubernetes.io/hostname: "discovery"
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: 8
      memory: 2Gi

unpackerr:
  image: ghcr.io/unpackerr/unpackerr:0.14.5
  nodeSelector:
    kubernetes.io/hostname: "discovery"
